footer
	text-align center
	padding-top 15px
	margin-top 30px

#loginbox
	width 480px
	margin auto
	padding 70px 0 35px

h1
	margin 0.5em 0 1em 0
	text-align center

input.cmd
	font-family Consolas, monospace

#build_url
	margin-top 0.75em

.link-section > div
	text-align center

p.description
	font-style italic
	text-align center
	margin-bottom 1em

.contrained
	margin-bottom 0.25em

.build-status
	text-transform uppercase

.edit-link
	font-size 40%
